.panel-form {

    margin-top: 35px;
}

.panel-form .title {
    font-size: 32px;
    color: #F17E50;
    text-align: center;
    text-transform: uppercase;
}

.button-place{
    text-align: center;
}